@model IEnumerable<Soft_Product.Models.Order>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Orders</h1>
<style>
    #head th{
        background-color: darkslategray;
    }
</style>
<table class="table">
    <thead>
        <tr id="head">
            <th>Order Date</th>
            <th>Confirmed</th>
            <th> Dispatched</th>
            <th> Delivered</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
        <tr>
            <td>@order.OrderDate.ToShortDateString()</td>

            <td>@(order.IsConfirmed ? "Confirmed" : "Not Confirmed")</td>
            <td>@(order.IsDispatched ? "Dispatched" : "Not Dispatched")</td>
            <td>@(order.IsDelivered ? "Delivered" : "Not Delivered")</td>
            <td>
                @if (!order.IsConfirmed)
                {
                    <a asp-action="Confirm" asp-controller="Order" asp-route-id="@order.OrderId" class="btn btn-primary">Confirm</a>
                }

                @if (order.IsConfirmed && !order.IsDispatched)
                {
                    <a asp-action="Dispatch" asp-controller="Order" asp-route-id="@order.OrderId" class="btn btn-success">Dispatch</a>
                }

                @if (order.IsDispatched && !order.IsDelivered)
                {
                    <a asp-action="Deliver" asp-controller="Order" asp-route-id="@order.OrderId" class="btn btn-info">Deliver</a>
                }

            </td>
            <td>
                <a asp-action="Details" asp-controller="Order" asp-route-orderid="@order.OrderId" class="btn btn-secondary">Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>

